.preapproval-request-card {
  background-color: #2a4051;
  .request-wrapper {
    max-width: 500px;
    margin: auto;
    padding: 20px 0;

    label {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
      color: #6793b7;
    }

    .calendar-approve {
      width: 146.2px;
      height: 30px !important;
      border-radius: 17.5px;
      border: solid 1.5px #3a5c77;
      background-color: #1e2c35;
    }

    .status-text {
      font-size: 11px;
      line-height: 1.27;
      letter-spacing: 0.06px;
      color: #b2d8f7;
    }

    .request-title {
      display: flex;
      font-size: 11px;
      line-height: 1.27;
      letter-spacing: 0.06px;
      text-align: left;
      color: #a9c3d8;
      margin: 5px 0;

      span {
        color: #fff;
      }

      &:after {
        content: ' ';
        display: inline-block;
        height: 2px;
        width: 100%;
        margin: 6px 15px;
        background-color: #3a5c77;
      }
    }

    .request-detail {
      max-width: 300px;
      margin: auto;
    }

    .require-credit-app {
      label {
        font-size: 14px;
        letter-spacing: 0.07px;
        line-height: 1;
        color: #b2d8f7;
      }
    }
  }
}