.container {
    margin-bottom: 100px;

    .styled-form {
        width: 380px;
        margin: 30px auto;
            
        .form-group {
            margin-bottom: 10px;
        }

        .medium-input {
            .form-control {
                width: 160px;
            }
        }

        .small-input {
            .form-control {
                width: 49px;
            }
        }

        .single-line-input {
            .input-container {
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    width: 73px;
                }
                label {
                    padding-right: 15px;
                    padding-left: 0px;
                }
            }
            .error-label {
                text-align: right;
            }
        }

        .width-112 {
            input {
                width: 112px !important;
            }
        }

        input, select {
            color: #ccdbe7 !important;
            border: 1.5px solid #6793B7;
            background: #1E2C35 !important;
            border-radius: 20px !important;
            height: unset;
            width: 380px;
        }

        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #6793b7;
            opacity: 1; /* Firefox */
        }

        select::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #6793b7;
            opacity: 1; /* Firefox */
        }

        select {
            height: 39px;
            padding: .375rem .75rem;
        }

        .select-dropdown {
            width: 28.3px;
            height: 28.3px;
            background-color: #6793b7;
            padding: 6px 8px;
            border-radius: 20px;
            position: absolute;
            margin-left: -32px;
            margin-top: 5px;

            img {
                position: relative;
                top: -3px;
                right: 1px;
            }
        } 

        .form-label {
            font-size: 14px;
            color: #6793B7;
            margin-bottom: 0px;
            padding-left: 14px;
        }

        @media (max-width: 570px) {
            input, select {
                width: 350px;
            }
        }

        @media (max-width: 350px) {
            input, select {
                width: 290px;
            }
        }

        .box {
            margin: 15px -15px 8px -15px;
            border-radius: 7px;
            background-color: #2f4455;
            padding: 7px 11.6px 13.5px 12.7px;

            &.center-box {
                padding: 18px;
                margin: auto;
                width: 230px;
                margin-bottom: 22px;
            }
        }

        .color-box {
            background-color: #009d86;
            margin-bottom: 35px;

            & .form-label {
                color: #fff;
            }

            & input {
                background: #fff !important;
            }
        }

        .input-holder.checkbox {
            margin-top: 20px;

            .input-container {
                display: flex;
                justify-content: center;

                label span {
                    color: #c8e0ed;
                }

                .light-label span {
                    font-size: 13px;
                    color: #6793b7 !important;
                }
            }
            .checkbox-field-container {
                input {
                    width: 25px;
                }
            }
        }

        .divider {
            height: 1px;
            margin: 32px 0;
            background-color: #3d566a;
            display: block;
            text-align: center;

            .title {
                font-size: 15px;
                line-height: 1.27;
                color: #6793b7;    
                position: relative;
                top: -9px;
                background: #273947;
                width: 100px;
                margin: auto;
                margin-bottom: 32px;
            }
        }

        .title {
            font-size: 16.7px;
            font-weight: bold;
            line-height: 1.2;
            letter-spacing: 0.84px;
            color: #bdc7d0;
            margin-bottom: 8px;
            display: block;
        }
    }

    @media (max-width: 570px) {
        .styled-form {
            width: 350px;
        }
    }

    @media (max-width: 350px) {
        .styled-form {
            width: 290px;
        }
    }
}

.black-box {
    background-color: #20313e;
    max-width: 100%;

    .styled-form {
        width: 380px;
        margin: 0 auto;
    }

    .styled-column {
        padding: 0 20px;
        border-right: 1px solid #3d566a;
        margin: 62px 0;
        margin-bottom: 62px !important;
        
        &:last-child {
            border: none;
        }

        div {
            font-size: 11px;
            color: #c8e0ed;
            display: flex;

            b {
                width: 50px;
            }
        }
    }
}

.match-found-container {
    position: fixed;
    bottom: 60.5px;
    width: 100%;

    .title {
        height: 35.9px;
        padding: 7.2px 631.2px 7.9px 630.1px;
        background-color: var(--teal);
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        line-height: 1.08;
        color: #ffffff;
    }

    .details {
        height: 83.1px;
        padding: 8.6px 530.6px 15.6px 554.6px;
        background-color: #ffffff;
    }

    .name-details {
        margin: 0 60px 6.6px 40px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.13;
        color: #3a5c77;
        text-align: center;
    }

    .other-details {
        margin: 0 0 3.3px;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.08;
        color: #6791b5;
        display: flex;
        justify-content: space-between;
        max-width: 320px;
        margin: auto;
    }

}

.footer-container {
    height: 60.5px;
    margin: 0.2px 0 0;
    background-color: #3a5c77;
    border-top: 3px solid #b2d8f7;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .secondary {
        border: none;
        width: 130px;
        height: 35px;
        margin: 0 22px;
        padding: 8.4px 30px 9.6px 30px;
        border-radius: 17.5px;
        background-color: #6793b7;
        color: white;
        font-size: 14px;
        line-height: 6px;
    }
}


.staff_identifier {
    margin-right: 15px;
    color: #5485ad;
}

.radio-width {
    input { 
        width: 20px !important;
    }
}

.radio-box {
    display: flex;
    align-items: center;   
    padding: 16px !important; 
    margin-top: 30px !important;
    margin-bottom: 0px !important;

    &.center {
        margin-top: 0 !important;
        justify-content: center;
        padding: 10px 0px 0px 0px !important;
    }
}

.radio-filed {
    display: flex;
    align-items: center;    
    margin-right: 45px; 
    margin-bottom: 0 !important;

    input {
        cursor: pointer;
    }

    label {
        padding-left: 5px !important;
        font-size: 16px !important;
        cursor: pointer;
    }
}

.radio-filed:last-child {    
    margin-right: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.apply-application {
    width: 335px;
    position: absolute;
    top: 40%;
    left: 41%;

    .button {
        cursor: pointer;
        display: flex;
        border-radius: 5px;
        background-color: #009d86;
        height: 59px;
        margin-bottom: 28px;

        .icon {    
            width: 58px;
            height: 59px;
            padding: 12.5px 18.2px 11.9px 17.8px;
            background-color: #ffffff;
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }
        .label {
            height: 34px;
            margin: 12.5px 30px 12.5px 30px;
            font-size: 14px;
            line-height: 1.2;
            text-align: center;
            color: #ffffff;
        }
    }

}



.sub-header {
    display: flex;
    button {
        width: 100%;
        height: 37.2px;
        background-color: #2f4455;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin-right: 2.3px;

        &:last-child {
            margin-right: 0px;
        }

        &.active {
            background-color: #009d86 !important;
        }

        img {
            width: 25px;
            height: 20.6px;
            margin-right: 10px;
        }

        span {
            font-size: 11px;
            font-weight: bold;
            color: #ffffff;
        }

        .arrow-down {
            position: absolute;
            margin-bottom: -45px;
            border-left: 13px solid transparent;
            border-right: 13px solid transparent;
            border-top: 10px solid #309d86;
        } 
    }
}


.styled-row {
    display: flex;
    justify-content: space-between;

    .styled-column {
        select {
            width: 174px;
        }

        input {
            width: 103px;
        }
    }
}



// select {
//     -moz-appearance:none; /* Firefox */
//     -webkit-appearance:none; /* Safari and Chrome */
//     appearance:none;
// }