@media (max-width: 570px) {
    .main {
        .container {
            width: auto !important;
        }
    }
    .home {
        width: auto !important;
        padding: 0px 50px;
        .button {
            height: 80px !important;
            margin-top: 40px !important;
            .icon {
                width: 80px !important;
                height: 80px !important;
                img {
                    margin-left: 20px !important;
                    margin-top: 20px !important;
                    width: 40px !important;
                    height: 40px !important;
                }
            }
            .label {
                font-size: 20px !important;
            }
        }
    }
}

@media (min-width: 571px) {
    .home {
        margin: auto;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 555px;
        height: fit-content;
        border-radius: 3px;
        background-color: rgba(58, 91, 119, 0.32);
        padding: 51px 52px 52px 56px;
    }
}

.main {
    .container {
        width: 500px;
        padding-bottom: 150px;
        margin-top: 30px;

        .group-address {
            margin-bottom: 0px;
            label {
                font-size: 22px;
                font-weight: bold;
            }
        }

        .co-used-label {
            font-size: 16px;
            font-style: italic;
            line-height: 1.15;
            color: #97b0c6;
            margin-left: 5px;
        }
    }

    .total {
        position: fixed;
        bottom: 81px;
        background-color: #007867;
        width: 100%;
        height: 66px;
        text-align: center;
        padding-top: 17px;
        color: #c4fff6;
    }

    .form-label {
        font-size: 14px;
        color: #97b0c6;
        margin-bottom: 0px;
    }
    .form-control {
        border-radius: 3px;
        border: none;
        background-color: #3d566a;
        color: #cddbe8;
        font-size: 18px;
    }
    .form-control:focus {
        outline: none !important;
        border: solid 2px #009e87;
        box-shadow: 0 0 10px #719ECE;
    }
    .form-check {
        color: #97b0c6;
    }

    .fixed_input {
        border-radius: 3px;
        border: solid 2px #6792b6;
        background-color: #6792b6;
        color: #cddbe8;
    }
    
    .input_symbol {
        color: #cddbe8;
        font-size: 18px;
        position: absolute;
        top: 7px;
        left: 11px;
    }

    .input_symbol_percent {
        color: #cddbe8;
        font-size: 18px;
        position: absolute;
        top: 7px;
        right: 11px;
    }
}

.product-page {
    .form-control {
        text-align: right;
    }
}

.home {
    color: #97b0c6;

    .form-label {
        font-size: 14px;
    }
    .form-control {
        border-radius: 3px;
        border: none;
        background-color: #3d566a;
        color: #cddbe8;
        font-size: 18px;
    }
    .form-control:focus {
        outline: none !important;
        border: solid 2px #009e87;
        box-shadow: 0 0 10px #719ECE;
    }

    .button {
        width: 100%;
        height: 113px;
        border-radius: 4px;
        background-color: #009e87;
        cursor: pointer; 
        display: flex;
        .icon {
            width: 116px;
            height: 113px;
            border-radius: 4px;
            background-color: white;
            img {
                margin-left: 39px;
                margin-top: 38px;
            }
        }
        .label {
            flex: 1;
            align-self: center;
            text-align: center;
            font-size: 27px;
            font-weight: 600;
            color: white;
        }
    }
    .button-reorder {
        margin-top: 59px;
    }
}