.admin {
  .main {
    color: white;
  }

  .footer-container {
    color: white;
  }

  .nav-menu-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
  }

  .nav-menu {
    background-color: #273947;
    border-right: 3px solid #b2d8f7;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
    &.active {
      left: 0;
      transition: 350ms;
    }

    .nav-menu-items {
      list-style: none;
    }
    .nav-menu-header {
      background: #3a5c77;
      position: relative;
      color: #b2d8f7;
      width: 100%;
      padding: 30px;
      text-align: center;

      .btn-menu-close {
        position: absolute;
        top: 5px;
        left: 10px;
        border: none;
        color: #b2d8f7;
        font-size: 25px;
        padding:0;
        line-height: 1;
        background-color: transparent;
      }
    }
    .nav-menu-content {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }

    ul.nav-menu-items {
      list-style: none;
      padding-left: 56px;
      li {
        cursor: pointer;
        font-size: 14px;
        user-select: none;
      }
      li + li {
        margin-top: 23px;
      }
    }
  }

  .list {
    .single-row {
      .customer-row {
        width: 100%;
        display: flex;
        margin-left: 28px;
        padding: 5px 0;
        @media (min-width: 570px) {
          max-width: 400px;
          margin: auto;
        }
      }
      .dealer-row {
        width: 100%;
        margin-left: 40px;
        margin-right: 40px;

        @media (max-width: 570px) {
          margin-left: 18px;
          margin-right: 18px;
        }
      }
      .dealer-action {
        .expand-icon {
          float: right;
          padding: 6px;
          width: 25px;
          height: 25px;
          border-radius: 20px;
          cursor: pointer;
          fill: #B2D8F7;
        }

        .number-badge {
          display: inline-block;
          width: 21px;
          height: 21px;
          border-radius: 11px;
          font-size: 12px;
          line-height: 21px;
          text-align: center;
          vertical-align: top;
          background-color: #3a5b77;
        }

        .badged-expand {
          display: inline-block;
          width: 52px;
          height: 22px;
          border-radius: 11px;
          background-color: #3a5b77;

          .number-badge {
            position: relative;
            left: -6px;
            background-color: #6793b7;
          }

          .expand-icon {
            position: relative;
            padding: 6px;
            top: -2px;
            fill: #b2d8f7;
          }
        }
      }
    }

    .single-row.expanded {
      padding-bottom: 0;

      .dealer-row-border {
        width: 100%;
        border-bottom: 2px solid #009D86;
      }

      .dealer-row {
        border: none;

        .dealer-name {
          background-color: #009d86;
        }
      }

      .badged-expand {
        .number-badge {
          background-color: #009d86;
        }
      }

      .expand-icon {
        transform: rotate(90deg);
        transition-duration: .2s;
        fill: white;
      }
    }

    .single-row:hover {
      .arrow-icon {
        background: #309e87;
        transform: rotate(90deg);
        transition-duration: .2s;
        fill: white;
      }
      .badged-expand {
        .number-badge {
          background-color: #009d86;
        }
      }
    }
  }
  .customer-profile-wrapper {
    max-width: 400px;
    margin: auto;
    padding: 11px 16px;

    .color-name {
      color: #b2d8f7;
    }
    .color-text {
      color: #a9c3d8;
    }

    .profile-right-col {
      padding: 3px 0 3px 60px;
      font-size: 11px;
    }

    .order-history-table {
      font-size: 11px;
      margin-top: 19px;

      .table-header {
        border-top: 2px solid #3a5c77;
        border-bottom: 2px solid #3a5c77;
        color: #a9c3d8;

        .col {
          padding: 6px;
        }
      }
      .table-body {
        padding: 13px 0;
      }
    }

    .order-request-summary {
      position: relative;
      background-color: #2f4455;
      padding: 12px 16px;
      border-radius: 5px;
      .application + .application {
        margin-top: 15px;
      }

      .order-request-summary--status-wrapper {
        position: absolute;
        width: 70px;
        left: -50px;
        top: 0;
        border-radius: 22px;
        background-color: #2f4455;
        padding: 7px 14px;
        z-index: -1;
      }
    }

    .preapproval-request-summary {
      .preapproval-item {
        border-radius: 5px;
        background-color: #2f4455;
        text-align: center;
        padding: 1px 8px;
      }

      .preapproval-item + .preapproval-item {
        margin-top: 7px;
      }
    }

    .order-balance-summary {
      padding: 0 3px;

      .balance-field + .balance-field {
        margin-top: 22px;
      }
    }

    .btn-action {
      border: none;
      border-radius: 17.5px;
      background-color: #6793b7;
      color: #fff;
      font-size: 14px;
      padding: 7px 15px;

      @media(max-width: 350px) {
        font-size: 12px;
      }
    }

    .btn-chat {
      background-color: #2f4455;
      color: #c8e0ed;
      border-radius: 5px;
      border: none;
      padding: 8px;

      img {
        margin-right: 10px;
      }
    }
  }

  .document-status {
    img {
      width: 12px;
      margin: 0 12px;

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.customer-row {
  .customer-name {
    display: inline-block;
    font-size: 14px;
    line-height: 1.37;
    letter-spacing: 0.07px;
    color: #b2d8f7;
    font-family: Lato;
    padding: 2.2px 11px 3px 12.2px;
    border-radius: 11px;
    background-color: #2d4a5f;
  }

  .customer-location {
    font-size: 11px;
    line-height: 1.27;
    letter-spacing: 0.06px;
    color: #6792b6;
  }

  .customer-food-date {
    margin-left: 8px;
    font-family: Lato;
    font-size: 11px;
    line-height: 1.27;
    letter-spacing: 0.06px;
    color: #6792b6;
  }

  .customer-purchase-item {
    font-size: 11px;
    color: #a9c3d8;
    line-height: 1.45;
    letter-spacing: 0.06px;
    text-align: left;
  }

  .expand-icon {
    padding: 6px;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    cursor: pointer;
    fill: #fff;
  }

  .content-col {
    padding: 20px 5px;
  }

  .action-col {
    padding: 20px 5px;
  }
}

.applicant {
  color: #b2d8f7;
  font-size: 14px;
  letter-spacing: 0.07px;
  line-height: 1.37;
  padding: 3px;

  .applicant-name {
    font-size: 14px;
    line-height: 1.37;
    letter-spacing: 0.07px;
    color: #b2d8f7;
  }

  .applicant-date {
    font-size: 11px;
    line-height: 1.27;
    letter-spacing: 0.06px;
    color: #6792b6;
  }

  .applicant-field-list {
    padding: 0 3px;
    margin-top: 16px;
  }

  .applicant-field {
    font-size: 11px;
    line-height: 1.45;
    letter-spacing: 0.06px;
  }

  .applicant-field + .applicant-field {
    margin-top: 9px;
  }
}

.applicant + .applicant {
  border-top: 2px solid #3a5c77;
  margin-top: 16px;
  padding-top: 8px;
}

.order-summary-row {
  background: #274254;
  margin-bottom: 20px;

  .order-summary {
    margin: auto;
    max-width: 600px;
    padding: 1em 22px 40px;

    .order-documents {
      background: #3a5b77;
      color: #a9c3d8;
      list-style: none;
      margin: 1em 0;
      padding: 0 12px;
      font-size: 11px;
      line-height: 2.55;
      letter-spacing: 0.06px;
    }
    .order-tiers {
      color: #6793b7;
      font-size: 12px;
      padding: 10px 0;
      white-space: nowrap;
      text-align: center;
    }

    .order-status {
      padding: 10px 0;
      font-size: 10px;
      text-align: center;
    }

    .btn-comments {
      position: absolute;
      left: calc(50% - 50px);
      bottom: -17px;
      border-radius: 17.5px;
      background-color: #6793b7;
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.17;
      letter-spacing: 0.18px;
      padding: 9.4px 30.6px 10.4px 14.3px;
    }
  }

}